/* ==== Basic variables ==== */

/* font-color */
$font-color-01:#000;
$font-color-02: #333;
$primary-font-color: #000;
/* font family */
$default-fonts: kallisto, plutosans，sourcehansans, roboto, sans-serif;
